.red {
  background-color: rgb(38, 182, 248);
  text-align: center;
}
.green{
  background-color: rgb(21, 205, 211);
  text-align:           center ;
}

.container{
  background-color: rgb(221, 30, 157);
}